html {
  font-family: 'Times New Roman', Times, serif;
}

*, 
*:before, 
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

footer {
  background-color: rgb(51, 51, 51);
  width: 100%;
  color: whitesmoke;
  padding: 0.5em 1em;
}

h1,
h2 {
  text-align: center;
}

aside,
article {
  margin-top: 3rem;
}

p {
  margin: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.main-content p {
  text-align: justify;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

header nav ul li {
  font-size: 1.125rem;
}

footer p {
  font-size: 0.75rem;
}

.aside-two ul {
  margin-top: 0.5em;
  list-style: none;
}

ol {
  margin-top: 0.5em;
  list-style-type: upper-roman;
  list-style-position: inside;
}

@media screen and (max-width: 360px) {
  html {
    font-size: 18px;
  }

  .container {
    width: 95%;
    margin: auto;
    align-items: center;
  }

}

@media screen and (min-width: 360px) and (max-width: 768px) {
  html {
    font-size: 18px;
  }

  .container {
    width: 95%;
    margin: auto;
    align-items: center;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  html {
    font-size: 16px;
  }

  .container {
    width: 60%;
    margin: auto;
  }

  .main-content p {
    font-size: 1.125rem;
  }

  .aside-two ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ol {
    display: flex;
    justify-content: center;
  }

  ol > div:last-child {
    margin-left: 1em;
  }
}

@media screen and (min-width: 1080px) {
  html {
    font-size: 16px;
  }

  .container {
    width: 60%;
    margin: auto;
  }

  .main-content p {
    font-size: 1.125rem;
  }

  .aside-two ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ol {
    display: flex;
    justify-content: center;
  }

  ol > div:last-child {
    margin-left: 1em;
  }


  .asides-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5%;
  }

  .asides-container .aside-two {
    justify-self: flex-start;
  }

  .aside-one {
    justify-self: center;
  }
}
