/* http://www.flexboxdefense.com/ */
/*! Wave 04  */

/* TODO:  Use align-items to move your towers into effective positions. */

.tower-group-1 {
  display: flex;
  align-items: flex-end;
  }
  .tower-group-2 {
  display: flex;
  align-items: flex-end;
  }
