/* http://www.flexboxdefense.com/ */
/*! Wave 05  */

/* TODO:  Use justify-content and align-items to move your towers into position. */

.tower-group-1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.tower-group-2 {
  display: flex;
  justify-content: center;
}
.tower-group-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
