/* http://www.flexboxdefense.com/ */
/*! Wave 03  */

/* TODO:  Use the justify-content property to move these two towers into position. */

.tower-group-1 {
  display: flex;
  justify-content: center;
  }
  .tower-group-2 {
  display: flex;
  justify-content: space-between;
  }
