/* https://flexboxfroggy.com/ */
/*! Level 24 */

/* TODO: Bring the frogs home one last time by using the CSS properties you've learned! */

#pond {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  align-content: space-between;
  justify-content: center;
}