/* https://flexboxfroggy.com/ */
/*! Level 21 */

/** The frogs are spread all over the pond, but the lilypads are bunched at the top.  */
/** You can use align-content to set how multiple lines are spaced apart from each other. */

/** For example, you can use flex-flow: row wrap to set rows and wrap them. */

/*? This can be confusing, but align-content determines the spacing between lines,  */
/*? while align-items determines how the items as a whole are aligned within the container.  */
/*? When there is only one line, align-content has no effect. */

/* TODO: Use the correct property to send the frogs to their lilypad. */

#pond {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}